@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ede5ff;
}

.parentContainer {
  height: 100vh;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.questionIcon {
  font-size: 2rem;
  color: #1a1a40;
}

.questionIcon:hover {
  transform: scale(1.1);
}

.taskListContainer {
  display: flex;
  overflow-x: auto;
  padding-right: 2rem;
  height: calc(100% - 80px);
}

.userInputContainerStyle {
  width: 50%;
  padding-top: 2rem;
}

.userInputStyle {
  font-size: 1.2rem;
}

.userInputButtonStyle {
  height: 3rem;
  font-size: 1.2rem;
}